<?xml version="1.0" encoding="UTF-8"?>
<target name="ch.ethz.id.sws.eduapp.target" sequenceNumber="61">
    <locations>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <unit
                id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.1.2.20161130-1227"/>
            <unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.1.2.20161130-0738"/>
            <unit id="org.eclipse.rap.feature.feature.group" version="3.1.2.20161130-0738"/>
            <repository location="http://download.eclipse.org/rt/rap/3.1"/>
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.rap.e4.target.feature.feature.group" version="0.9.0.rap-20160720-0603"/>
            <repository location="https://www.swc.ethz.ch/updates/rap.e4.target/"/>
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <unit id="ch.ethz.id.sws.swc.feature.feature.group" version="1.0.3.201702010939"/>
            <repository location="https://www.swc.ethz.ch/updates/swc_update/"/>
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <unit id="ch.ethz.id.sws.swc.helper.feature.feature.group" version="1.0.0.201610022211"/>
            <repository location="https://www.swc.ethz.ch/updates/swc_helper_update/"/>
        </location>
    </locations>
</target>
<?pde version="3.8"?>
